:root {
  --title-color: #212121;
  --hero-color: #ffffff;
  --background-color: #ffffff;
  --fon-color: #2f303a;
  --accent-color: #2196f3;
  --text-color: #757575;
  --addres-text: rgba(255, 255, 255, 0.6);
  --background-button: #f5f4fa;
  --background-team: #f5f4fa;
  --border-color: #eeeeee;
  --header-line: #ececec;
  --icon-color: #afb1b8;
  --hover-blue: #188CE8;
}

.nav__list,
.contacts,
.specifics__list,
.ocupation__list,
.team__list,
.address__list,
.filtr__item,
.project__item,
.location__item,
.list {
  list-style: none;
}

.body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--title-color);
  background-color: var(--background-color);
}

ul {
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

h2 {
  margin: 0px;
}

p {
  margin: 0px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  border-bottom: 1px solid var(--header-line);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.current::after {
  position: absolute;
  display: block;
  content: "";
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.menu__logo {
  color: var(--title-color);
}

.logo__footer {
  color: var(--hero-color);
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  margin-left: 93px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__item {
  font-weight: 500;
  color: var(--title-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__text.current {
  color: var(--accent-color);
  position: relative;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__list .contacts :hover,
.header :focus {
  color: var(--accent-color);
}

.nav__item :hover,
.nav__item :focus {
  color: var(--accent-color);
}

.nav__text {
  display: block;
  padding: 32px 0;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-align: center;
  color: var(--title-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__text:hover,
.contacts__text:focus {
  color: var(--accent-color);
}

.contacts__text:hover .contacts__icon,
.contacts__text:focus .contacts__icon {
  fill: var(--accent-color);
}

.contacts {
  margin-left: auto;
  gap: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts__item {
  font-weight: 500;
  color: var(--text-color);
  background-color: var(--background-color);
}

.contacts__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__icon {
  width: 16px;
  height: 16px;
  fill: var(--text-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}/*# sourceMappingURL=main.css.map */